* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul, .right {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style-type: none;
    padding-right: 20px;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 70px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 20px;
}

h2 {
    color: #e5e7eb;
    font-size: 18px;
    margin: 20px;
}

button {
    background-color: #3882f6;
    border-radius: 15px;
    color: #e5e7eb;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
}

#info {
    display: flex;
    margin: 30px 10px;
}

img {
    border-radius: 15px;
}

.navbar {
    margin-top: 0px;
    padding-top: 0px;
}