* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul, .right {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

li {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 15px;;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 70px;
    margin: 0px;
    border: 0px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 20px;
}

h2 {
    color: #e5e7eb;
    font-size: 18px;
    margin: 20px;
}

button {
    background-color: #3882f6;
    border-radius: 15px;
    color: #e5e7eb;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    flex-grow: 0;
}

#info.infopic {
    width: 200px;
    height: auto;
}

#info {
    display: flex;
    margin: 20px 10px;
}